@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  @apply bg-gray-150 text-black-1
}

body {
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 53px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  @apply text-[32px] lg:text-[40px];
  line-height: 44.4px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

button:disabled {
  opacity: 60%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  .container-secondary {
    @apply md:max-w-[90%] md:mx-auto;
  }
}

@layer components {
  .border-radius {
    border-radius: 10px;
  }

  .border-radius-20 {
    border-radius: 20px;
  }
  .border-radius-40 {
    border-radius: 40px;
  }
}

.PhoneInput {
  @apply border-b-2 border-gray-300
}
.PhoneInputInput, .PhoneInputInput:focus {
  border: none;
  outline: none;
  @apply ring-0
}